.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      13.22deg,
      rgba(0, 0, 0, 0.33) 9.37%,
      rgba(0, 0, 0, 0) 45.79%
    ),
    linear-gradient(
      184.27deg,
      rgba(173, 240, 209, 0.43) 3.47%,
      rgba(173, 240, 209, 0.0645) 49.01%
    ),
    rgba(1, 31, 60, 0.72);
  position: relative;
}

//Header title
.header__title {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0 0 12rem;
  line-height: 1.5;
  @include respond(desktop) {
    margin-top: 6rem;
  }
  @include respond(tab-land) {
    margin-top: 2rem;
    padding: 0.7rem 0 0 4rem;
  }
  @include respond(tab-port) {
    margin-top: 2rem;
    padding: 1rem 0 0 2rem;
  }
  @include respond(s-phone) {
    margin-top: 2rem;
    padding: 1rem 0 0 1.5rem;
  }
  @include respond(xs-phone) {
    padding: 3rem 0 0 1.5rem;
    margin-top: 2rem;
  }
}
h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  @include respond(desktop) {
    font-size: 1.27rem;
  }
  @include respond(tab-land) {
    font-size: 1.39rem;
  }
  @include respond(tab-port) {
    font-size: 1.37rem;
  }
  @include respond(s-phone) {
    font-size: 1.3rem;
  }
  @include respond(xs-phone) {
    font-size: 1.2rem;
  }
}
h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.95);
  @include respond(desktop) {
    font-size: 3.8rem;
  }

  @include respond(tab-land) {
    font-size: 3.5rem;
  }

  @include respond(tab-port) {
    font-size: 2.8rem;
  }
  @include respond(s-phone) {
    font-size: 2.5rem;
  }
  @include respond(xs-phone) {
    font-size: 2.3rem;
  }
}
.h1 {
  display: flex;
  justify-content: space-between;
  width: 58%;
  height: 9rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
  @include respond(desktop) {
    height: 5.5rem;
    width: 50rem;
    margin-bottom: 1rem;
    // background-color: tomato;
  }
  @include respond(tab-land) {
    height: 5.5rem;
    width: 55%;
    margin-bottom: 0.8rem;
  }
  @include respond(tab-port) {
    height: 5rem;
    width: 84%;
    margin-bottom: 1rem;
  }
  @include respond(s-phone) {
    height: 5rem;
    width: 83%;
    margin-bottom: 0.7rem;
  }
  @include respond(xs-phone) {
    height: 5rem;
    width: 91%;
    margin-bottom: 1rem;
  }
}
.options {
  width: 27rem;
  overflow: hidden;
  @include respond(desktop) {
    width: 21rem;
    // background-color: red;
  }

  @include respond(tab-land) {
    width: 18rem;
  }
  @include respond(tab-port) {
    width: 16rem;
  }
  @include respond(s-phone) {
    width: 14rem;
  }
  @include respond(xs-phone) {
    width: 13rem;
  }
}
.options span {
  display: block;
  height: 100%;
  padding-left: 0.1rem;
  padding-top: 0.35rem;
  font-size: 5rem;
  font-weight: 700;
  animation: spin_words 6s infinite;
  @include respond(desktop) {
    font-size: 3.8rem;
    padding-left: 0.05rem;
  }

  @include respond(tab-land) {
    font-size: 3.5rem;
  }
  @include respond(tab-port) {
    font-size: 2.8rem;
    padding-left: 0.1rem;
  }
  @include respond(s-phone) {
    font-size: 2.5rem;
    padding-left: 0.3rem;
  }
  @include respond(xs-phone) {
    font-size: 2.3rem;
    padding-left: 0.1rem;
  }
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }

  85% {
    transform: translateY(-212%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.person-description {
  font-size: 1.6rem;
  height: 9rem;
  width: 60%;
  line-height: 2.7rem;
  margin-bottom: 4rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  // background-color: orchid;
  @include respond(desktop) {
    font-size: 1.27rem;
    width: 50%;
  }
  @include respond(tab-land) {
    width: 57%;
    line-height: 2.7rem;
    font-size: 1.5rem;
    margin-bottom: 8rem;
  }
  @include respond(tab-port) {
    width: 90%;
    line-height: 2.5rem;
    font-size: 1.4rem;
    margin-bottom: 9rem;
  }
  @include respond(s-phone) {
    width: 84%;
    line-height: 2.2rem;
    font-size: 1.29rem;
    margin-bottom: 6rem;
  }
  @include respond(xs-phone) {
    font-size: 1.19rem;
    line-height: 2rem;
    width: 91%;
    margin-bottom: 5rem;
  }
}
.widetect-link {
  margin-left: 0.5rem;
  color: rgba(173, 240, 209, 1);
}
.whatsapp__btn {
  width: 20rem;
  height: 4.2rem;
  border: none;
  background-color: transparent;
  border: 0.15rem solid rgba(173, 240, 209, 0.9);
  color: rgba(173, 240, 209, 0.9);
  font-size: 1.4rem;
  letter-spacing: 3%;
  cursor: pointer;
  border-radius: 0.1rem;
  transition: all ease-in 0.4s;
  &:active,
  &:focus {
    outline: none;
  }

  @include respond(tab-land) {
    width: 18rem;
    height: 4rem;
    font-size: 1.33rem;
  }
  @include respond(tab-port) {
    width: 18rem;
    height: 4rem;
    font-size: 1.29rem;
  }
  @include respond(s-phone) {
    width: 16rem;
    height: 3.7rem;
    font-size: 1.25rem;
  }
  @include respond(xs-phone) {
    width: 15rem;
    height: 3.6rem;
    font-size: 1.2rem;
  }
}
.whatsapp__btn:hover {
  background-color: rgba(173, 240, 209, 0.35);
  border: 0.15rem solid rgba(173, 240, 209, 0.35);
}
.random-line {
  width: 0.05rem;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.7);
  position: absolute;
  top: 0;
  left: 6%;

  @include respond(tab-land) {
    display: none;
  }
  @include respond(tab-port) {
    display: none;
  }
  @include respond(s-phone) {
    display: none;
  }
  @include respond(xs-phone) {
    display: none;
  }
}
.popup {
  width: 25rem;
  height: 9rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  @include respond(s-phone) {
    width: 60%;
    height: 12rem;
  }
  @include respond(xs-phone) {
    width: 60%;
    height: 11rem;
  }

  &__line {
    width: 100%;
    height: 0.5rem;
    background-color: rgb(163, 230, 132);
  }
  &__text {
    color: black;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    @include respond(xs-phone) {
      font-size: 0.7rem;
    }
  }
}
.close--popup {
  display: block;
  margin-top: 1rem;
  width: 5rem;
  height: 1.7rem;
  text-align: center;
  font-weight: 500;
  border: none;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  @include respond(xs-phone) {
    width: 4rem;
    height: 1.7rem;
    font-size: 0.7rem;
  }
}
