///Navigation

.logo {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  @include respond(desktop) {
    width: 2.7rem;
    height: 2.7rem;
  }
  @include respond(tab-land) {
    width: 3.2rem;
    height: 3.2rem;
  }
  @include respond(tab-port) {
    width: 3.4rem;
    height: 3.4rem;
  }
  @include respond(s-phone) {
    width: 3rem;
    height: 3rem;
  }
  @include respond(xs-phone) {
    width: 3rem;
    height: 3rem;
  }
}
.nav {
  width: 100%;
  height: 8rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include respond(lan-desktop) {
    max-width: 100%;
    height: 8rem;
    padding: 2rem 4rem;
  }

  @include respond(desktop) {
    max-width: 100%;
    height: 6rem;
    padding: 1.1rem 1.5rem;
  }
  @include respond(tab-land) {
    height: 7rem;
    padding: 1.4rem 3rem;
  }
  @include respond(tab-port) {
    height: 8rem;
    padding: 1.4rem 2rem;
  }
  @include respond(s-phone) {
    height: 8.5rem;
    padding: 1.3rem 1.5rem;
  }
  @include respond(xs-phone) {
    height: 8rem;
    padding: 1.3rem 1.5rem;
    // background-color: orchid;
  }

  //Links
  &__links {
    width: 53%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    @include respond(lan-desktop) {
      width: 80rem;
    }
    @include respond(desktop) {
      width: 50rem;
    }
    @include respond(tab-land) {
      width: 56%;
    }
    @include respond(tab-port) {
      display: none;
    }
    @include respond(s-phone) {
      display: none;
    }
    @include respond(xs-phone) {
      display: none;
    }
  }
  &__item {
    width: 13rem;
    text-align: center;
    @include respond(desktop) {
      width: 11rem;
    }
  }
  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    @include respond(desktop) {
      font-size: 1.2rem;
    }
    @include respond(tab-land) {
      font-size: 1.1rem;
    }
  }
}
.nav__item--btn {
  width: 10rem;
  border: 0.2rem solid rgba(173, 240, 209, 1);
  border-radius: 2rem;
  cursor: pointer;
  transition: all ease-in 0.4s;
  @include respond(tab-land) {
    border: 0.23rem solid rgba(173, 240, 209, 1);
  }
}
.nav__link--btn {
  color: rgba(173, 240, 209, 1);
}
.nav__item--btn:hover {
  background-color: rgba(173, 240, 209, 0.45);
  border: 0.2rem solid rgba(173, 240, 209, 0.45);
}
/// Burger icon
.burger__icon {
  width: 2.4rem;
  height: 2.7rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 40%;
  right: 5%;

  @include respond(tab-port) {
    display: block;
  }
  @include respond(s-phone) {
    display: block;
  }
  @include respond(xs-phone) {
    display: block;
  }
}

.burger__icon--line {
  width: 100%;
  height: 0.4rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.burger__icon--line:not(:last-child) {
  margin-bottom: 0.16rem;
}
.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 31, 60, 0.97);
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;

  //Hide
  display: none;
  &__links {
    width: 100%;
    height: 65vh;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  &__item {
    width: 30%;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
  }
}
