*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 26.5625em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 94%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 99%;
  }
}

body {
  background-color: #3a3737;
  font-weight: 300;
  color: #ffff;
  line-height: 1.9;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(13.22deg, rgba(0, 0, 0, 0.33) 9.37%, rgba(0, 0, 0, 0) 45.79%), linear-gradient(184.27deg, rgba(173, 240, 209, 0.43) 3.47%, rgba(173, 240, 209, 0.0645) 49.01%), rgba(1, 31, 60, 0.72);
  position: relative;
}

.header__title {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0 0 12rem;
  line-height: 1.5;
}

@media only screen and (min-width: 64em) {
  .header__title {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 48em) {
  .header__title {
    margin-top: 8rem;
    padding: 0.7rem 0 0 4rem;
  }
}

@media only screen and (max-width: 31em) {
  .header__title {
    margin-top: 7rem;
    padding: 0.7rem 0 0 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .header__title {
    margin-top: 2rem;
    padding: 1rem 0 0 2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .header__title {
    margin-top: 8rem;
    padding: 1rem 0 0 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .header__title {
    padding: 3rem 0 0 1.5rem;
    margin-top: 2rem;
  }
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  -webkit-animation: slideFromLeft 3s;
          animation: slideFromLeft 3s;
}

@media only screen and (min-width: 64em) {
  h5 {
    font-size: 1.27rem;
  }
}

@media only screen and (max-width: 48em) {
  h5 {
    font-size: 1.39rem;
  }
}

@media only screen and (max-width: 31em) {
  h5 {
    font-size: 1.37rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  h5 {
    font-size: 1.37rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 20em) {
  h5 {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.95);
  -webkit-animation: slideUp 4s;
          animation: slideUp 4s;
}

@media only screen and (min-width: 64em) {
  h1 {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 48em) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 31em) {
  h1 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  h1 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 20em) {
  h1 {
    font-size: 2.3rem;
  }
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50rem;
  height: 6rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
}

@media only screen and (min-width: 64em) {
  .h1 {
    height: 6rem;
    width: 50rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 48em) {
  .h1 {
    height: 5.5rem;
    width: 45rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 31em) {
  .h1 {
    height: 5rem;
    width: 37rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .h1 {
    height: 5rem;
    width: 38rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .h1 {
    height: 5rem;
    width: 33rem;
    margin-bottom: 0.7rem;
  }
}

@media only screen and (max-width: 20em) {
  .h1 {
    height: 5rem;
    width: 31rem;
    margin-bottom: 1rem;
  }
}

.options {
  width: 27rem;
  overflow: hidden;
}

@media only screen and (min-width: 64em) {
  .options {
    width: 21rem;
  }
}

@media only screen and (max-width: 48em) {
  .options {
    width: 18rem;
  }
}

@media only screen and (max-width: 31em) {
  .options {
    width: 15rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .options {
    width: 16rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .options {
    width: 14rem;
  }
}

@media only screen and (max-width: 20em) {
  .options {
    width: 13rem;
  }
}

.options span {
  display: block;
  height: 100%;
  padding-left: 0.1rem;
  padding-top: 0.35rem;
  font-size: 5rem;
  font-weight: 700;
  -webkit-animation: spin_words 6s infinite;
          animation: spin_words 6s infinite;
}

@media only screen and (min-width: 64em) {
  .options span {
    font-size: 3.8rem;
    padding-left: 0.05rem;
  }
}

@media only screen and (max-width: 48em) {
  .options span {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 31em) {
  .options span {
    font-size: 2.8rem;
    padding-left: 0.1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .options span {
    font-size: 2.8rem;
    padding-left: 0.1rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .options span {
    font-size: 2.5rem;
    padding-left: 0.3rem;
  }
}

@media only screen and (max-width: 20em) {
  .options span {
    font-size: 2.3rem;
    padding-left: 0.1rem;
  }
}

@-webkit-keyframes spin_words {
  10% {
    -webkit-transform: translateY(-112%);
            transform: translateY(-112%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  85% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes spin_words {
  10% {
    -webkit-transform: translateY(-112%);
            transform: translateY(-112%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  85% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

.person-description {
  font-size: 1.3rem;
  height: 9rem;
  width: 52rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  -webkit-animation: popUp 3s;
          animation: popUp 3s;
}

@media only screen and (min-width: 64em) {
  .person-description {
    font-size: 1.2rem;
    width: 52rem;
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 48em) {
  .person-description {
    width: 57%;
    line-height: 2.7rem;
    font-size: 1.5rem;
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .person-description {
    width: 90%;
    line-height: 2.5rem;
    font-size: 1.4rem;
    margin-bottom: 9rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .person-description {
    width: 84%;
    line-height: 2.2rem;
    font-size: 1.29rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 20em) {
  .person-description {
    font-size: 1.19rem;
    line-height: 2rem;
    width: 91%;
    margin-bottom: 5rem;
  }
}

.widetect-link {
  margin-left: 0.5rem;
  color: #adf0d1;
}

.whatsapp__btn {
  width: 20rem;
  height: 4.2rem;
  border: none;
  background-color: transparent;
  border: 0.19rem solid rgba(173, 240, 209, 0.9);
  color: rgba(173, 240, 209, 0.9);
  font-size: 1.4rem;
  letter-spacing: 3%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.3rem 1rem;
  border-radius: 0.1rem;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  -webkit-animation: slideFromLeft 3s;
          animation: slideFromLeft 3s;
}

.whatsapp__btn:active, .whatsapp__btn:focus {
  outline: none;
}

.whatsapp__btn .btn--link {
  text-decoration: none;
  color: rgba(173, 240, 209, 0.9);
  font-size: 1.2rem;
  letter-spacing: 3%;
  cursor: pointer;
}

@media only screen and (min-width: 64em) {
  .whatsapp__btn {
    width: 15rem;
    height: 3.7rem;
    font-size: 1.17rem;
  }
}

@media only screen and (max-width: 48em) {
  .whatsapp__btn {
    width: 18rem;
    height: 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .whatsapp__btn {
    width: 15.5rem;
    height: 4rem;
    font-size: 1.29rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .whatsapp__btn {
    width: 15rem;
    height: 3.7rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 20em) {
  .whatsapp__btn {
    width: 15rem;
    height: 3.6rem;
    font-size: 1.2rem;
  }
}

.whatsapp__btn:hover {
  background-color: rgba(173, 240, 209, 0.35);
  border: 0.15rem solid rgba(173, 240, 209, 0.35);
}

.random-line {
  width: 0.05rem;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.7);
  position: absolute;
  top: 0;
  left: 5%;
}

@media only screen and (max-width: 48em) {
  .random-line {
    display: none;
  }
}

@media only screen and (max-width: 26.5625em) {
  .random-line {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .random-line {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .random-line {
    display: none;
  }
}

.Whatsapp {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 64em) {
  .logo {
    width: 2.7rem;
    height: 2.7rem;
  }
}

@media only screen and (max-width: 48em) {
  .logo {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media only screen and (max-width: 31em) {
  .logo {
    width: 3.3rem;
    height: 3.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .logo {
    width: 3.4rem;
    height: 3.4rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 20em) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}

.nav {
  width: 100%;
  height: 8rem;
  padding: 1.1rem 3rem 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (min-width: 64em) {
  .nav {
    max-width: 100%;
    height: 6rem;
    padding: 1.1rem 3rem 0 1.5rem;
  }
}

@media only screen and (max-width: 48em) {
  .nav {
    height: 7rem;
    padding: 1.4rem 3rem;
  }
}

@media only screen and (max-width: 31em) {
  .nav {
    height: 7.5rem;
    padding: 1.4rem 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav {
    height: 8rem;
    padding: 1.4rem 2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav {
    height: 8.5rem;
    padding: 1.3rem 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav {
    height: 8rem;
    padding: 1.3rem 1.5rem;
  }
}

.nav__links {
  width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

@media only screen and (min-width: 64em) {
  .nav__links {
    width: 50rem;
  }
}

@media only screen and (max-width: 48em) {
  .nav__links {
    width: 56%;
  }
}

@media only screen and (max-width: 31em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .nav__links {
    display: none;
  }
}

.nav__item {
  width: 9rem;
  text-align: center;
}

@media only screen and (min-width: 64em) {
  .nav__item {
    width: 9rem;
  }
}

.nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (min-width: 64em) {
  .nav__link {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 48em) {
  .nav__link {
    font-size: 1.2rem;
  }
}

.nav__item--btn {
  width: 9rem;
  border: none;
  background-color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  padding: 0.4rem 0;
}

.nav__link--btn {
  color: #000;
  font-size: 1.1rem;
}

.nav__item--btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.burger__icon {
  width: 2.4rem;
  height: 2.7rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 40%;
  right: 5%;
}

@media only screen and (max-width: 31em) {
  .burger__icon {
    display: block;
  }
}

@media only screen and (max-width: 26.5625em) {
  .burger__icon {
    display: block;
  }
}

@media only screen and (max-width: 23.4375em) {
  .burger__icon {
    display: block;
  }
}

@media only screen and (max-width: 20em) {
  .burger__icon {
    display: block;
  }
}

.burger__icon--line {
  width: 100%;
  height: 0.4rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.burger__icon--line:not(:last-child) {
  margin-bottom: 0.16rem;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 31, 60, 0.97);
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.menu__links {
  width: 100%;
  height: 65vh;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__item {
  width: 30%;
  text-align: center;
}

.menu__link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

#section__about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.43))), #011f3c;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), #011f3c;
}

@media only screen and (min-width: 64em) {
  #section__about {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 48em) {
  #section__about {
    width: 100%;
    height: 110vh;
  }
}

@media only screen and (max-width: 31em) {
  #section__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170vh;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width: 20em) {
  #section__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
}

#section__about--pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 10rem 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 64em) {
  #section__about--pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 10rem 13rem;
  }
}

@media only screen and (max-width: 48em) {
  #section__about--pic {
    padding: 5rem 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__about--pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__about--pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 20em) {
  #section__about--pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    padding: 1rem 0;
  }
}

#section__about--details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 9rem 4rem;
}

@media only screen and (min-width: 64em) {
  #section__about--details {
    padding: 9rem 4rem;
  }
}

@media only screen and (max-width: 48em) {
  #section__about--details {
    padding: 5rem 2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__about--details {
    padding: 2rem 1.9rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__about--details {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  #section__about--details {
    padding: 2rem 1.6rem;
  }
}

.pic {
  width: 47rem;
  height: auto;
  position: absolute;
  top: 55%;
  left: 49%;
  -webkit-transform: translate(-51%, -45%);
          transform: translate(-51%, -45%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (min-width: 64em) {
  .pic {
    width: 45rem;
    height: auto;
  }
}

@media only screen and (max-width: 48em) {
  .pic {
    width: 27rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .pic {
    width: 32rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .pic {
    width: 25rem;
  }
}

@media only screen and (max-width: 20em) {
  .pic {
    width: 23rem;
  }
}

.pic:hover {
  width: 40rem;
}

@media only screen and (max-width: 48em) {
  .pic:hover {
    width: 29rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .pic:hover {
    width: 32rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .pic:hover {
    width: 25rem;
  }
}

@media only screen and (max-width: 20em) {
  .pic:hover {
    width: 23rem;
  }
}

.pic--outline {
  width: 22rem;
  height: 25rem;
  border-radius: 20rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  -webkit-animation: scaleUp 2s;
          animation: scaleUp 2s;
  -webkit-transition: all ease-in 3s;
  transition: all ease-in 3s;
}

@media only screen and (min-width: 64em) {
  .pic--outline {
    width: 22rem;
    height: 24rem;
    border-radius: 20rem;
  }
}

@media only screen and (max-width: 48em) {
  .pic--outline {
    width: 17rem;
    height: 17rem;
    border-radius: 20rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  .pic--outline {
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 23.4375em) {
  .pic--outline {
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 20em) {
  .pic--outline {
    width: 14rem;
    height: 14rem;
    border-radius: 30rem;
    margin: 0 auto;
  }
}

.my-name {
  width: 35rem;
  height: 8rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
}

@media only screen and (min-width: 64em) {
  .my-name {
    width: 35rem;
    font-size: 3.2rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 48em) {
  .my-name {
    width: 25rem;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .my-name {
    width: 19rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .my-name {
    width: 18rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 20em) {
  .my-name {
    width: 17rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
}

.my-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 64em) {
  .my-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 48em) {
  .my-location {
    width: 10rem;
    margin: 0.5 auto;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 26.5625em) {
  .my-location {
    width: 10rem;
    margin: 0.5rem auto;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 23.4375em) {
  .my-location {
    width: 11rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 20em) {
  .my-location {
    width: 10rem;
    margin: 0.5rem auto;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

.location-pin {
  width: 1.3rem;
  height: 1.3rem;
  fill: rgba(255, 255, 255, 0.7);
}

.social__media--handles {
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 64em) {
  .social__media--handles {
    width: 16rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 48em) {
  .social__media--handles {
    width: 19rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .social__media--handles {
    width: 22rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .social__media--handles {
    width: 20rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .social__media--handles {
    width: 18rem;
    margin-bottom: 3rem;
  }
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 64em) {
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

@media only screen and (max-width: 48em) {
  .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .icon {
    width: 3rem;
    height: 3rem;
  }
}

.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.personal-description {
  width: 45rem;
  height: 16rem;
}

@media only screen and (min-width: 64em) {
  .personal-description {
    width: 45rem;
    height: 16rem;
  }
}

@media only screen and (max-width: 48em) {
  .personal-description {
    width: 35rem;
    height: 21rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .personal-description {
    width: 38rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .personal-description {
    width: 36rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 20em) {
  .personal-description {
    width: 32rem;
    height: 20rem;
  }
}

.personal-description-1 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 0.04rem;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 64em) {
  .personal-description-1 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 48em) {
  .personal-description-1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .personal-description-1 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .personal-description-1 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 20em) {
  .personal-description-1 {
    font-size: 1.18rem;
  }
}

.personal-description-2 {
  font-size: 1.15rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.04rem;
}

@media only screen and (min-width: 64em) {
  .personal-description-2 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 48em) {
  .personal-description-2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .personal-description-2 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .personal-description-2 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 20em) {
  .personal-description-2 {
    font-size: 1.18rem;
  }
}

.devMille {
  color: #adf0d1;
  margin-left: 0.1rem;
  text-decoration: underline;
}

.tools {
  width: 38rem;
  height: 13rem;
}

@media only screen and (min-width: 64em) {
  .tools {
    width: 38rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 48em) {
  .tools {
    width: 36rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .tools {
    width: 36rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .tools {
    width: 38rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 20em) {
  .tools {
    width: 32rem;
    height: 9rem;
  }
}

.tools__programming--title {
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 64em) {
  .tools__programming--title {
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 48em) {
  .tools__programming--title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .tools__programming--title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .tools__programming--title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 20em) {
  .tools__programming--title {
    font-size: 1.3rem;
  }
}

.tools__programming--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem 3rem 3rem 3rem;
      grid-template-rows: 3rem 3rem 3rem 3rem;
  -ms-grid-columns: 10rem 10rem;
      grid-template-columns: 10rem 10rem;
  row-gap: 0.1rem;
  -webkit-column-gap: 0.1rem;
          column-gap: 0.1rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 64em) {
  .tools__programming--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3rem 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem 3rem;
    -ms-grid-columns: 10rem 10rem;
        grid-template-columns: 10rem 10rem;
    -webkit-column-gap: 0.1rem;
            column-gap: 0.1rem;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 48em) {
  .tools__programming--items {
    -ms-grid-columns: 9.5rem 9.5rem 9.5rem;
        grid-template-columns: 9.5rem 9.5rem 9.5rem;
    -ms-grid-rows: 3.2rem 3.2rem 3.2rem;
        grid-template-rows: 3.2rem 3.2rem 3.2rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .tools__programming--items {
    -ms-grid-columns: 10rem 10rem 10rem;
        grid-template-columns: 10rem 10rem 10rem;
    -ms-grid-rows: 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .tools__programming--items {
    -ms-grid-columns: 9rem 9rem 9rem;
        grid-template-columns: 9rem 9rem 9rem;
    -ms-grid-rows: 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 20em) {
  .tools__programming--items {
    -ms-grid-columns: 10rem 10rem 10rem;
        grid-template-columns: 10rem 10rem 10rem;
    -ms-grid-rows: 2.4rem 2.4rem;
        grid-template-rows: 2.4rem 2.4rem;
    font-size: 1.15rem;
  }
}

.item1:hover {
  background-color: rgba(255, 255, 0, 0.7);
  padding: 0;
}

.item2:hover {
  background-color: rgba(255, 99, 71, 0.7);
}

.item3:hover {
  background-color: rgba(16, 16, 83, 0.7);
}

.item4:hover {
  background-color: rgba(216, 112, 147, 0.7);
}

.item5:hover {
  background-color: rgba(128, 0, 128, 0.7);
}

.item6:hover {
  background-color: rgba(29, 107, 42, 0.7);
}

.item7:hover {
  background-color: rgba(197, 195, 197, 0.7);
}

.item:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section__portfolio {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), #011f3c;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #011f3c;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 48em) {
  #section__portfolio {
    padding: 2rem 3rem;
  }
}

@media only screen and (max-width: 31em) {
  #section__portfolio {
    padding: 2rem 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__portfolio {
    padding: 8rem 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__portfolio {
    padding: 8rem 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  #section__portfolio {
    padding: 8rem 1.5rem;
  }
}

#section__portfolio--heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 48em) {
  #section__portfolio--heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 31em) {
  #section__portfolio--heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__portfolio--heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__portfolio--heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  #section__portfolio--heading {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}

#section__portfolio--contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
  margin-bottom: 0.3rem;
}

@media only screen and (max-width: 31em) {
  #section__portfolio--contanier {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section__portfolio--contanier {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section__portfolio--contanier {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 20em) {
  #section__portfolio--contanier {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.project__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 32rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 48em) {
  .project__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__photo {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding: 0;
  }
}

@media only screen and (max-width: 20em) {
  .project__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding: 0;
  }
}

.project__description {
  height: 32rem;
  padding: 0 1rem 0 1.3rem;
}

@media only screen and (max-width: 48em) {
  .project__description {
    padding: 0 1.2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__description {
    padding: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__description {
    padding: 0 0 3rem 0;
  }
}

@media only screen and (max-width: 20em) {
  .project__description {
    padding: 0;
  }
}

.project__description--heading {
  color: #adf0d1;
  font-size: 1.3rem;
  font-weight: 500;
}

@media only screen and (min-width: 64em) {
  .project__description--heading {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 48em) {
  .project__description--heading {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__description--heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__description--heading {
    font-size: 1.4rem;
  }
}

.project__description--text {
  padding: 1rem 0 0 0;
  height: 17rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 48em) {
  .project__description--text {
    font-size: 1.1rem;
    height: 17rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__description--text {
    font-size: 1.18rem;
    height: 19rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__description--text {
    font-size: 1.16rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 20em) {
  .project__description--text {
    margin-bottom: 1rem;
  }
}

.project__description--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21rem;
}

@media only screen and (max-width: 48em) {
  .project__description--buttons {
    width: 22rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__description--buttons {
    width: 27rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__description--buttons {
    width: 27rem;
  }
}

@media only screen and (max-width: 20em) {
  .project__description--buttons {
    width: 25rem;
    margin-top: 1.8rem;
  }
}

.project__tools {
  height: 13rem;
  padding: 2rem 0;
  color: rgba(255, 255, 255, 0.747);
}

@media only screen and (max-width: 48em) {
  .project__tools {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__tools {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__tools {
    padding: 0.9rem 0;
  }
}

@media only screen and (max-width: 20em) {
  .project__tools {
    height: 8rem;
    padding: 0.8rem 0;
  }
}

.project__tools--heading {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 23.4375em) {
  .project__tools--heading {
    font-size: 1.16rem;
  }
}

.project__tools--programming {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.2rem 2.2rem 2.2rem;
      grid-template-rows: 2.2rem 2.2rem 2.2rem;
  -ms-grid-columns: 9rem;
      grid-template-columns: 9rem;
}

@media only screen and (max-width: 48em) {
  .project__tools--programming {
    -ms-grid-rows: 2.2rem;
        grid-template-rows: 2.2rem;
    -ms-grid-columns: 9rem 9rem 9rem;
        grid-template-columns: 9rem 9rem 9rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .project__tools--programming {
    -ms-grid-columns: 10rem 10rem 10rem;
        grid-template-columns: 10rem 10rem 10rem;
    -ms-grid-rows: 2.4rem;
        grid-template-rows: 2.4rem;
    font-size: 1.13rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__tools--programming {
    -ms-grid-columns: 9rem 9rem 9rem;
        grid-template-columns: 9rem 9rem 9rem;
    -ms-grid-rows: 2.3rem;
        grid-template-rows: 2.3rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 20em) {
  .project__tools--programming {
    -ms-grid-columns: 9rem 9rem 9rem;
        grid-template-columns: 9rem 9rem 9rem;
    -ms-grid-rows: 2.2rem;
        grid-template-rows: 2.2rem;
  }
}

.firstPic,
.secondPic,
.thirdPic {
  width: 55rem;
  height: 32rem;
}

@media only screen and (max-width: 48em) {
  .firstPic,
  .secondPic,
  .thirdPic {
    width: 40rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .firstPic,
  .secondPic,
  .thirdPic {
    width: 35rem;
    height: 23rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .firstPic,
  .secondPic,
  .thirdPic {
    width: 33rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 20em) {
  .firstPic,
  .secondPic,
  .thirdPic {
    width: 32.5rem;
    height: 19rem;
  }
}

.thirdPic {
  width: 55rem;
  height: auto;
}

@media only screen and (max-width: 48em) {
  .thirdPic {
    width: 40rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .thirdPic {
    width: 35rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .thirdPic {
    width: 33rem;
  }
}

@media only screen and (max-width: 20em) {
  .thirdPic {
    width: 32.5rem;
  }
}

.project__photo-second {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 26.5625em) {
  .project__photo-second {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project__photo-second {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media only screen and (max-width: 20em) {
  .project__photo-second {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.share {
  width: 2rem;
  height: 2rem;
}

.projec--2,
.project--3 {
  padding: 1rem 0 0 0;
  height: 17rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.project--3 {
  height: 10rem;
}

@media only screen and (max-width: 26.5625em) {
  .project--3 {
    font-size: 1.18rem;
    height: 17rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .project--3 {
    font-size: 1.16rem;
    height: 15rem;
  }
}

.view-btn a,
.code-btn a {
  width: 7rem;
  height: 2.7rem;
  padding: 0.3rem 0.95rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #183047;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media only screen and (max-width: 26.5625em) {
  .view-btn a,
  .code-btn a {
    width: 10rem;
    height: 3.1rem;
    font-size: 1.3rem;
    padding: 0.4rem 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .view-btn a,
  .code-btn a {
    width: 9rem;
    height: 3rem;
    font-size: 1.29rem;
    padding: 0.4rem 1.4rem;
  }
}

@media only screen and (max-width: 20em) {
  .view-btn a,
  .code-btn a {
    width: 9rem;
    height: 3rem;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
  }
}

.view-btn a:hover,
.code-btn a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
}

.git {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgba(40, 80, 117, 0.72);
}

.javascript,
.HTML,
.CSS,
.SASS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes slideFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes popUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sectionSlideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-9rem);
            transform: translateY(-9rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sectionSlideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-9rem);
            transform: translateY(-9rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#section--4 {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), #011f3c;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #011f3c;
  padding: 1rem 25rem;
}

@media only screen and (max-width: 48em) {
  #section--4 {
    padding: 3rem 20rem;
  }
}

@media only screen and (max-width: 31em) {
  #section--4 {
    width: 100%;
    height: 100vh;
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  #section--4 {
    width: 100%;
    height: 160vh;
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  #section--4 {
    width: 100%;
    height: 160vh;
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  #section--4 {
    width: 100%;
    height: 200vh;
    padding: 2rem 1.5rem;
  }
}

.operations {
  width: 60rem;
  height: 30rem;
  position: relative;
}

@media only screen and (max-width: 31em) {
  .operations {
    width: 20rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .operations {
    width: 20rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .operations {
    width: 20rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 20em) {
  .operations {
    width: 20rem;
    height: 15rem;
  }
}

.operations__heading {
  font-size: 1.6rem;
  margin-bottom: 7rem;
  font-weight: 500;
}

@media only screen and (max-width: 31em) {
  .operations__heading {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .operations__heading {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .operations__heading {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .operations__heading {
    font-size: 1.4rem;
  }
}

.operations--buttons {
  width: 60rem;
  height: 30rem;
  background-color: transparent;
  padding: 0 9rem;
  position: absolute;
  z-index: 200;
}

@media only screen and (max-width: 31em) {
  .operations--buttons {
    padding: 0 3rem;
    width: 51rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .operations--buttons {
    display: none;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .operations--buttons {
    display: none;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .operations--buttons {
    display: none;
    padding: 0 1.5rem;
  }
}

.operations--content {
  width: 60rem;
  height: 27rem;
  margin-top: 1rem;
  background-color: #fff;
  position: absolute;
}

@media only screen and (max-width: 31em) {
  .operations--content {
    width: 51rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .operations--content {
    position: initial;
    width: 41rem;
    height: 33rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .operations--content {
    position: initial;
    width: 35rem;
    height: 30.7rem;
  }
}

@media only screen and (max-width: 20em) {
  .operations--content {
    position: initial;
    width: 32rem;
    height: 28rem;
  }
}

.button--1,
.button--2,
.button--3 {
  height: 3rem;
  width: 13rem;
  margin: -10rem 0.5rem;
  border: none;
  border-radius: 20rem;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

@media only screen and (max-width: 48em) {
  .button--1,
  .button--2,
  .button--3 {
    width: 13rem;
  }
}

@media only screen and (max-width: 31em) {
  .button--1,
  .button--2,
  .button--3 {
    width: 14rem;
    font-size: 1.19rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .button--1,
  .button--2,
  .button--3 {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .button--1,
  .button--2,
  .button--3 {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .button--1,
  .button--2,
  .button--3 {
    display: none;
  }
}

.button--1 {
  background-color: #bc2a8d;
}

.button--2 {
  background-color: #3b5999;
}

.button--3 {
  background-color: #007bb5;
}

.hidden {
  display: none;
}

[class^="operations--content"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 26.5625em) {
  [class^="operations--content"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  [class^="operations--content"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 20em) {
  [class^="operations--content"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

[class^="content-icon"] {
  height: 100%;
  width: 30rem;
  padding: 5rem 4rem 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

@media only screen and (max-width: 31em) {
  [class^="content-icon"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6%;
            flex: 0 0 6%;
    width: 20rem;
    padding: 5rem 1.6rem 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  [class^="content-icon"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    padding: 1rem 12rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  [class^="content-icon"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7%;
            flex: 0 0 7%;
    padding: 1rem 12rem;
  }
}

@media only screen and (max-width: 20em) {
  [class^="content-icon"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    padding: 1rem 12rem;
  }
}

.iconm-contaneir {
  width: 7rem;
  height: 7rem;
  border-radius: 20rem;
  position: relative;
}

@media only screen and (max-width: 26.5625em) {
  .iconm-contaneir {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .iconm-contaneir {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 20em) {
  .iconm-contaneir {
    width: 5rem;
    height: 5rem;
  }
}

#iconm-cont-1 {
  background-color: #bc2a8d;
}

#iconm-cont-2 {
  background-color: #3b5999;
}

#iconm-cont-3 {
  background-color: #007bb5;
}

.iconm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 26.5625em) {
  .iconm {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .iconm {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 20em) {
  .iconm {
    width: 2rem;
    height: 2rem;
  }
}

.content-content {
  padding: 5rem 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 31em) {
  .content-content {
    padding: 5rem 2rem 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content-content {
    padding: 1rem 3rem 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content-content {
    padding: 1rem 3rem 0;
  }
}

@media only screen and (max-width: 20em) {
  .content-content {
    padding: 1rem 3rem 0;
  }
}

.content--heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
}

@media only screen and (max-width: 31em) {
  .content--heading {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content--heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content--heading {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 20em) {
  .content--heading {
    font-size: 1.2rem;
  }
}

.content--explained {
  font-size: 1.1rem;
  color: black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9rem;
          flex: 0 0 9rem;
}

@media only screen and (max-width: 31em) {
  .content--explained {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content--explained {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content--explained {
    font-size: 1.17rem;
  }
}

@media only screen and (max-width: 20em) {
  .content--explained {
    font-size: 1.1rem;
  }
}

.prices a {
  text-decoration: underline;
  color: #011f3c;
  font-weight: 500;
  cursor: pointer;
}

#footer {
  height: 40rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #3b5999;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3b5999;
  text-align: center;
  padding: 4rem 0 0 0;
}

@media only screen and (max-width: 48em) {
  #footer {
    height: auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  #footer {
    height: auto;
  }
}

@media only screen and (max-width: 23.4375em) {
  #footer {
    padding: 4rem 1.5rem 0 1.5rem;
    height: auto;
  }
}

@media only screen and (max-width: 20em) {
  #footer {
    height: auto;
    padding: 4rem 1.5rem 0 1.5rem;
  }
}

#footer__heading {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #bdbdbd;
}

@media only screen and (max-width: 20em) {
  #footer__heading {
    font-size: 1.5rem;
  }
}

#footer__btn {
  width: 17rem;
  height: 4rem;
  background-color: #fff;
  border: none;
  border-radius: 20rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
  font-family: inherit;
  margin-bottom: 3rem;
  cursor: pointer;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

@media only screen and (max-width: 20em) {
  #footer__btn {
    font-size: 1.2rem;
  }
}

#footer__btn:hover {
  width: 19rem;
  background-color: #666;
  color: #fff;
}

#mySelfLogo {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 20em) {
  #mySelfLogo {
    width: 9rem;
  }
}
/*# sourceMappingURL=main.css.map */